<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/2d06a70dc3.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Static Files -->
    <link rel="stylesheet" href="/css/main.css">
    <title>AirPolluSoft</title>
</head>

<body>
    <div class="container mt-3 mb-3">
        <div id="navbar">
            <h2><b>AirPolluSoft</b></h2>
            <p id="p1">Medición de calidad del aire mediante el uso de drones</p>
        </div>
        <div id="accordion">
            <div class="card mt-2">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link-dark collapsed" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                            <b>¿Cómo funciona?</b>
                        </button>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <b>1.</b> Escoger uno o varios tipos de contaminante/variable meteorológica de las cuales se
                        espera recopilar datos. <br>
                        <b>2.</b> Seleccionar un rango de fecha en el que se adquirieron los datos. <br>
                        <b>3.</b> Realizar la busqueda. <br>
                        <b>4.</b> Si lo desea, podrá generar un archivo de Excel con los datos obtenidos y un promedio
                        de estos por día. <br>
                        <b>5.</b> También, se ofrece la opción de graficar los datos por día (promedio) y descargar una
                        imagen de la gráfica.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Variables</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input cb-element" type="checkbox" value="" id="checkall">
                            <label class="form-check-label" for="checkall">
                                Seleccionar todo
                            </label>
                        </div>
                        <hr>
                        <% const arr1=['Material Particulado PM1.0', 'Material Particulado PM2.5'
                            , 'Material Particulado PM10' , 'Monóxido de Carbono (CO) con MQ7'
                            , 'Monóxido de Carbono (CO) con MQ6' , 'Dióxido de Carbono (CO2)' , 'Ozono (O3)'
                            , 'Dióxido de Azufre (SO2)' , 'Temperatura' , 'Humedad' , 'Presión' ]; const
                            arr2=['PM1_0', 'PM2_5' , 'PM10' , 'MQ7' , 'MQ6' , 'MQ135' , 'MQ131' , 'MQ136'
                            , 'Temperatura' , 'Humedad' , 'Presion' ]; for (var i=0; i < arr1.length; i++){ %>
                            <div class="form-check">
                                <input class="form-check-input cb-element ops1" type="checkbox" value="" id=<%=arr2[i]
                                    %>>
                                <label class="form-check-label" for="defaultCheck1">
                                    <%= arr1[i] %>
                                </label>
                            </div>
                            <%}%>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="cancelarC()">Cancelar</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2" id="divOps">
            <br>
            <div class="row mr-auto ml-auto" style="width: 70%">
                <div class="col-md-6">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Desde</b></label><br>
                    <input type="datetime-local" id="Fdesde" name="meeting-time" class="form-control"
                        min="2000-01-01T00:00" max="2030-12-31T00:00"><br>
                </div>
                <div class="col-md-6" id="dateCol">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Hasta</b></label><br>
                    <input type="datetime-local" id="Fhasta" name="meeting-time" class="form-control"
                        min="2000-01-01T00:00" max="2030-12-31T00:00">
                </div>
            </div>
            <div class="row mr-auto ml-auto" style="width: 70%" id="variable">
                <div class="col-md-6 container">
                    <label class="mr-sm-2" for="inlineFormCustomSelect"><b>Variable</b></label><br>
                    <button type="button" class="btn btn-dark btn-block" data-toggle="modal"
                        data-target="#exampleModal">Escoger variables</button><br>
                </div>
            </div><br>
            <div class="text-center col-md-12">
                <button type="button" class="btn btn-dark mr-3" onclick="search()">Buscar</button>
                <button type="button" class="btn btn-danger ml-3" onclick="clean()">Limpiar</button>
            </div><br>
        </div>
        <p class="lines ml-4 mt-2" style="margin: 0px; display: none">Vista Previa</p>
        <hr class="lines" style="margin: 8px; display: none">
        <div class="table-resposive container mt-3" id="divTable" style="display: none">
            <table class="table table-bordered table-hover" id="table1">

            </table>
        </div>
        <div class="lines text-center mt-3" style="display: none;">
            <button type="button" class="btn btn-dark mt-2 mr-2" id="genExcel">
                Generar Archivo <i class="far fa-file-excel ml-1"></i></button>
            <button type="button" class="btn btn-danger mt-2 ml-2" onclick="seeMenu()">
                Ver Gráficos <i class="fas fa-chart-bar ml-1"></i></button>
        </div>
        <hr class="sep" style="display: none">
        <div class="container text-center row justify-content-center align-items-center mt-4 ml-1" id="selectVal" style="display: none;">
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 ml-xl-2" id="variab">
                <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="padding-top: 2px;">
                    Seleccionar variables
                </button>
                <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1" id="dropV"></ul>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 ml-xl-2">
                <div>
                    <select class="custom-select" id="typeChart">
                        <option selected value="0">Seleccionar el tipo de gráfica</option>
                        <option value="1">Barras</option>
                        <option value="2">Línea</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 col-lg-3 ml-xl-1" id="butGraf"><button class="btn btn-warning" onclick="graph()">Consultar</button></div>
        </div>
        <div id="canvasDiv" class="mt-4"><canvas id="popChart" style="display: none;"></canvas></div>
        <div id="downImg" class="text-center mt-3" style="display: none;"><button type="button" class="btn btn-dark"
                onclick="downloadImage()">Guardar Imágen <i class="far fa-image ml-1"></i></button></div>
        <div class="container row mt-4" id="foot">
            <div class="col-8 col-sm-8 col-md-9 col-lg-10 mt-2" id="borderImg">
                <img src="/img/SergioArboledaLogo.png" alt="Sergio Arboleda Logo">
            </div>
            <div class="col-4 col-sm-4 col-md-3 col-lg-2" id="icons">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3"><a href="https://www.instagram.com/usergioarboleda"
                            target="_blank"><i class="fab fa-instagram fa-2x" id="a1"></i></a></div>
                    <div class="col-3 col-sm-3 col-md-3"><a href="https://www.facebook.com/usergioarboleda"
                            target="_blank"><i class="fab fa-facebook-square fa-2x" id="a1"></i></a></div>
                    <div class="col-3 col-sm-3 col-md-3"><a href="https://www.twitter.com/USergioArboleda"
                            target="_blank"><i class="fab fa-twitter fa-2x" id="a1"></i></a></div>
                </div>
            </div>
            <div class="col-12 text-center">
                <p style="color: white;">Creado por Jhon Buesaquillo y Ever Ortega. Copyright © 2021</p>
            </div>
        </div>
    </div>
</body>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/xlsx.full.min.js"></script>
<script src="/js/FileSaver.min.js"></script>
<script src="/js/Chart.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/canvas-toBlob.js"></script>
<script src="/js/main.js"></script>
<script src="/js/exportFile.js"></script>
<!-- Bootstrap -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<!-- SweetAlert 2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</html>