* {
    box-sizing: border-box;
}

table {
    text-align: center;
}

thead {
    background-color: #c2c2c2;
}

h2 {
    color: white;
    line-height: 80px;
    height: 55px;
}

#navbar {
    background-color: #00437a;
    text-align: center;
    height: 110px;
}

#p1 {
    color: white;
}

img {
    width: 9em;
}

#divTable {
    text-align: center;
    width: 80%;
    max-height: 50vh;
    overflow-y: auto;
}

#foot {
    background-color: #00437a;
    height: 90px;
    margin-left: 0px;
    margin-right: 0px;
}

#divOps {
    background-color: #e7e7e7;
    border-radius: 8px; 
    -moz-border-radius: 8px
}

#a1 {
    line-height: 95px; 
    color: white;
}

th, td {
    resize: both;
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.7em;
    }
    #variable {
        padding-top: 1.4em;
    }
    #butGraf {
        padding-top: 10px;
    }
}
 
@media screen and (max-width: 500px) {
    img {
        width: 7em;
        margin-top: 0.5em;
    }
    #a1 {
        font-size: 25px;
    }
    #borderImg, #icons {
        padding: 0px;
    }
    h2 {
        font-size: 5.5vw;
    }
    #dropdownMenu1 {
        width: 35vw;
    }
}